$primary-color: black;
$secondary-color: red;
$accent-color: #e91e53;
$text-color: white;

body {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  