.loading-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(black,rgb(65, 65, 161),purple,white);
  border-radius: 10px;
}

.loading-screen div {
  height: 20px;
  width: 15px;
  background-color: black;
  margin: 5px;
  border-radius: 10px;
  animation: bar 800ms ease infinite alternate-reverse; 
}

.loading-screen div:nth-child(2) {
  animation-delay: 200ms;
}

.loading-screen div:nth-child(3) {
  animation-delay: 400ms;
}

.loading-screen div:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes bar {
  from {
    height: 50px;
    background-image: linear-gradient(black,white,red);
  }

  to {
    height: 150px;
    background-image: linear-gradient(red,black,white);
  }
}
